### 알고리즘 스터디 2주차

`문제`


평소 반상회에 참석하는 것을 좋아하는 주희는 이번 기회에 부녀회장이 되고 싶어 각 층의 사람들을 불러 모아 반상회를 주최하려고 한다.

이 아파트에 거주를 하려면 조건이 있는데, “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 는 계약 조항을 꼭 지키고 들어와야 한다.

아파트에 비어있는 집은 없고 모든 거주민들이 이 계약 조건을 지키고 왔다고 가정했을 때, 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라.

단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

`입력`

첫 번째 줄에 Test case의 수 T가 주어진다. 그리고 각각의 케이스마다 입력으로 첫 번째 줄에 정수 k, 두 번째 줄에 정수 n이 주어진다

`출력`

각각의 Test case에 대해서 해당 집에 거주민 수를 출력하라.

`제한`

1 ≤ k, n ≤ 14

In [ ]:
t = int(input())

for _ in range(t):  # 입력받은(t) 테스트 케이스 수만큼 for문을 반복
    floor = int(input())  # 층
    num = int(input())  # 호
    f0 = [x for x in range(1, num+1)]  # 0층 리스트

    for i in range(floor):  # 층 수 만큼 반복
        for j in range(1, num):  # 1 ~ n-1까지 (인덱스로 사용)
            f0[j] += f0[j-1]  # 층별 각 호실의 사람 수를 변경
    print(f0[-1])  # 가장 마지막 수 출력

2
1
3
6
1
3
6

`t=2`  로 두번 돌림

`floor=1 num=3` 1층 1호(1) 2호(3) 3호(6)

### `브1_11653`  소인수분해

`문제`

정수 N이 주어졌을 때, 소인수분해하는 프로그램을 작성하시오.

`입력`

첫째 줄에 정수 N (1 ≤ N ≤ 10,000,000)이 주어진다.

`출력`

N의 소인수분해 결과를 한 줄에 하나씩 오름차순으로 출력한다. N이 1인 경우 아무것도 출력하지 않는다.

In [ ]:
aaa = int(input())
bbb = 2
while aaa!=1:
  if aaa%bbb==0:
    print(bbb)
    aaa = aaa//bbb
  else:
    bbb += 1

10
2
5

### `브1_10989` 수 정렬하기 3

`문제`

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

`입력`

첫째 줄에 수의 개수 N(1 ≤ N ≤ 10,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 10,000보다 작거나 같은 자연수이다.

`출력`

첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [ ]:
N_input = int(input())
for i in range(N_input):
 N=int(input())

ㅓ

ValueError: ignored

### `2309_일곱난쟁이`

`문제`

왕비를 피해 일곱 난쟁이들과 함께 평화롭게 생활하고 있던 백설공주에게 위기가 찾아왔다. 일과를 마치고 돌아온 난쟁이가 일곱 명이 아닌 아홉 명이었던 것이다.

아홉 명의 난쟁이는 모두 자신이 "백설 공주와 일곱 난쟁이"의 주인공이라고 주장했다. 뛰어난 수학적 직관력을 가지고 있던 백설공주는, 다행스럽게도 일곱 난쟁이의 키의 합이 100이 됨을 기억해 냈다.

아홉 난쟁이의 키가 주어졌을 때, 백설공주를 도와 일곱 난쟁이를 찾는 프로그램을 작성하시오.

`입력`

아홉 개의 줄에 걸쳐 난쟁이들의 키가 주어진다. 주어지는 키는 100을 넘지 않는 자연수이며, 아홉 난쟁이의 키는 모두 다르며, 가능한 정답이 여러 가지인 경우에는 아무거나 출력한다.

`출력`

일곱 난쟁이의 키를 오름차순으로 출력한다. 일곱 난쟁이를 찾을 수 없는 경우는 없다.

In [3]:
aaaa = []
for i in range(9):   # 난쟁이 9명
    aaaa.append(int(input()))  # 9명 리스트 append

aaaa.sort() #  aaaa  난쟁이 키 오름차순 정렬

sum_aaaa = sum(aaaa)
for i in range(len(aaaa)):
    for j in range(i + 1, len(aaaa)):
        if sum_aaaa - aaaa[i] - aaaa[j] == 100:
            for k in range(len(aaaa)):
                if k == i or k == j:
                  print("ㅠㅠ")
                else:
                    print(aaaa[k])
            exit()

29
37
1
72
38
28
37
2
1